@layer framework;
@import url('react-responsive-carousel/lib/styles/carousel.min.css') layer(framework);
@import url('swiper/css') layer(framework);

/*Carousel gallery*/
.carousel-root {
   @apply select-none;
}

.carousel.carousel-slider {
   background-image: url('./../public/img/gallery-bg.svg');
   @apply rounded-lg overflow-hidden bg-no-repeat bg-contain;
}

.carousel .slider-wrapper {
   backdrop-filter: blur(2px);
}

.carousel .slider {
   @apply aspect-video;
}

.carousel .control-arrow.control-prev:before {
   @apply border-r-8 accent-neutral-800;
}

.carousel .control-arrow.control-next:before {
   @apply border-l-8 accent-neutral-800;
}

.carousel .control-arrow.control-arrow {
   @apply transition-all;
}

.carousel .thumbs-wrapper {
   @apply mb-0;
}

.carousel .thumbs .thumb {
   @apply transition-all last:mr-0 bg-neutral-800 aspect-video rounded border-transparent border;
}

.carousel .thumbs {
   @apply text-center;
}

.carousel .thumbs .thumb img {
   @apply rounded-md;
}

.carousel .thumb.selected {
   @apply opacity-100;
}

/*Swiper*/
.swiper {
   @apply select-none
}

.swiper-slide {
   @apply px-2;
}

[class^='swiper-button']::before,
[class^='swiper-button']::after {
   @apply content-[''] absolute inset-y-0 w-16 z-10 bg-no-repeat from-neutral-950/100 to-neutral-950/0 transition-opacity cursor-pointer;
}

.swiper-button-prev::before,
.swiper-button-prev::after {
   @apply left-0;
}

.swiper-button-next::before,
.swiper-button-next::after {
   @apply right-0;
}

.swiper-button-prev::before {
   @apply bg-gradient-to-r;
}

.swiper-button-next::before {
   @apply bg-gradient-to-l;
}

.swiper-button-prev::after,
.swiper-button-next::after {
   @apply bg-center fill-white opacity-50 hover:opacity-100;
}

.swiper-button-prev::after {
   background-image: url('./assets/svg/arrow-left-swiper.svg');
}

.swiper-button-next::after {
   background-image: url('./assets/svg/arrow-right-swiper.svg');
}

.swiper-button-disabled::after {
   @apply opacity-0 cursor-auto;
}

/*Three-viewer*/
model-viewer {
   --poster-color: transparent;
}

model-viewer::part(default-progress-bar) {
   display: none;
}
